body {
  font-family: "Roboto";
}

/* The Modal (background) */

.F-modal-error {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */

.F-modal-content-error {
  z-index: 1000;
  border: 1px solid black;
  width: 35%;
  margin: auto;
  background-color: #f8f8f8;
  margin-top: 13%;
  position: relative;
  padding: 0;
  height: auto;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

.F-modal-header-error {
  padding: 2px 16px;
  background-color: #f8f8f8;
  ;
}

.F-modal-body-error {
  padding: 2px 16px;
  margin-left: 10px;
  margin-top: 15px;
  font-size: 18px;
}

.F-modal-footer-error {
  padding: 2px 16px;
  background-color: #f8f8f8;
  ;
}

.F-modal-footer-error button {
  margin-bottom: 20px;
  margin-top: 20px;
  letter-spacing: 1px;
}

.F-modal-footer-error button:active {
  box-shadow: 0px;
  outline: none;
}

/* OK Button */

.F-OkBTN-error {
  float: right;
  background-color: #fece4b;
  color: black;
  margin-left: 10px;
  height: 35%;
  width: 30%;
  border-radius: 30px;
  letter-spacing: 1px;
  font-size: 14px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .F-modal-content-error {
    width: 70%;
  }
}