/* Voting Page */
#F-header{
  font-family: Generica regular, sans-serif;
  color: #124254;
  font-weight: inherit;
  font-size: 30px;
  position: relative;
  z-index: -1;
  letter-spacing: 2px;
  margin-top: 50px;
}

#F-container{
  max-width: max-content;
  /* width:900px; */
  border:3px;
  border-radius: 30px;
  background-color:#eeeeee;
  margin:0 auto;
  margin-top:40px;
  position: relative;
  box-shadow: 3px 3px 15px 0;
}

.candidate-box{
  display: flex;
  flex-direction: row;
  width: 1000px;
  padding: 20px;
}

.candidate-box > div{
  width: 1000px;
  margin: auto;
}

.candidate-info{
  margin-top: 20px;
  align-items: center;
}

#F-position{
  width: 100%;
  font-size: 22px;
  text-indent: 25px;
  color: #124254;
  padding:5px 0;
  font-weight: 500;
  font-family: 20px Roboto light sans-serif;
}

hr{
  border: 1px solid #888282;
}

#F-CandidateName{
  font-size: 18px;
  color: #124254;
  font-weight: 900;
  font-family: Roboto regular, sans-serif;
}

#F-GradeSection{
  font-size: 16px;
  color: #124254;
  font-weight: 500;
  font-family: Roboto regular, sans-serif;
}

#F-Partylist{
  font-size: 16px;
  color: black;
  font-weight: 500;
  font-family: Roboto regular, sans-serif;
}
img{
  /* z-index: 5; */
}

img.candidate-photo{
  border-radius: 50%;
  margin-left: 30px;
  border: 3px solid #124254;
  margin: 5px 20px 0 5px;
  position:sticky;
  display: block;
  /* z-index: 5; */
}

/* The container */
.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-left: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 30px 20px 0 0;
  cursor: pointer;
  display: inline-block;
  align-items: center;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: rgb(150, 145, 145);
  opacity: 5px;
}

/* When the radio button is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: #18566e;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.checkbox .checkmark:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #fece4b;
}

#Candidate1{
  width:1000px;
  height: 200px;
  border:3px;
  border-radius: 30px;
  background-color:#eeeeee;
  margin:0 auto;
  margin-top:50px;
  position: relative;
  z-index: -1;
  box-shadow: 3px 3px 15px 0;
}
  
#Candidate1 h1{
  width:100%;
  text-indent:10px;
  padding:5px 0;
  font:bold 20px Roboto Light, sans-serif;
  color:#124254;
}

#vote-button{
  text-align: center;
}

.vote-btn{
  font:bold 16px Roboto Light, sans-serif;
  color: #eeeeee;
  letter-spacing: 3px;
  width: 200px;
  height: 50px;
  background-color:#124254;
  margin-top: 40px;
  margin-bottom: 50px;
  border: 2px solid #124254;
  border-radius: 30px;
  position: relative;
}

.vote-btn:hover{
  color: #fece4b;
  background-color:#124254;
  border: 2px solid #fece4b;
  border-radius: 30px;
}

/* Start of Vote Preview css */
/* The Modal (background) */
.F-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 80px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.F-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  min-width: 400px;
  height: auto;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  /* margin-left: 10px; */

}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}



.F-modal-header {
  padding: 2px 16px;
  background-color: white;
 
}

.F-modal-body {
  padding: 2px 16px;
  margin-left: 10px;
  margin-top: 15px;
  font-size: 16px;
}

.F-modal-button {
  padding: 2px 16px;
  background-color: white;
 
}

.F-modal-button button {
  margin-bottom: 15px;
  margin-top: 15px;
}

.F-modal-footer button:active {
  box-shadow: 0px;
  outline: none;
}

/* Return Button */
.F-returnBTN {
  float: left;
  background-color: #eeeeee;
  color: black;
  margin-left: 10px;
  height: 30px;
  width: 170px;
  font-size: 14px;
  border-radius: 30px;
  letter-spacing: 1px;
  cursor: pointer;
}
.F-returnBTN span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.F-returnBTN span:before {
  content: '\00AB';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.F-returnBTN:hover span {
  padding-left: 25px;
}

.F-returnBTN:hover span:before {
  opacity: 1;
  left: 0;
}

/* Confirm Button */
.F-confirmBTN {
  float: right;
  font: bold Roboto Light, sans-serif;
  color: #eeeeee;
  letter-spacing: 1px;
  background-color: #124254;
  margin-right: 10px;
  height: 30px;
  width: 200px;
  font-size: 14px;
  border-radius: 30px;
  cursor: pointer;
}

.F-confirmBTN span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.F-confirmBTN span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.F-confirmBTN:hover span {
  padding-right: 25px;
}

.F-confirmBTN:hover span:after {
  opacity: 1;
  right: 0;
}

.F-confirmBTN:active {
  box-shadow: none;
  outline: none;
}

.F-show-votes {
  font: Roboto Regular, sans-serif;
  margin-top: 5px;
}

#F-preview-CandidateName {
  font-size: 16px;
  color: black;
  font-family: Roboto Regular, sans-serif;
}

#F-preview-Position{
  font-size: 16px;
  color: black;
  font-family: Roboto Regular, sans-serif;
}

/* Go to Home Button */
.F-goToHomeBTN {
  float: left;
  background-color: #eeeeee;
  color: black;
  margin-left: 10px;
  height: 50px;
  width: 140px;
  font-size: 14px;
  border-radius: 30px;
  letter-spacing: 1px;
  cursor: pointer;
}

/* Download Receipt Button */
.F-downloadReceiptBTN {
  float: right;
  background-color: #ffc423;
  color: black;
  margin-right: 10px;
  height: 50px;
  width: 140px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 1200px){
  .F-modal{
    top: 30px;
  }
  
  .F-modal-content {
    position: relative;
    overflow: auto;
    min-width: 80%;
  }
  
}

@media screen and (max-width: 540px){
  .F-modal-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .F-returnBTN{
    margin-right: 15px;
  }
}

@media screen and (max-width: 320px){
  .F-modal-content{
    min-width: 90%;
  }
}
/* End of vote preview css  */
